body{
background-color: bisque;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-size: 16px;
}
ul {
  list-style-type: none;
}
main, section, header, .project {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.summary{
width: 960px;
}

.profile{
  border-radius:  4em;

}

.workEdu, .skillsLang {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.workExperience, .education, .skillsLang {
  margin: 2em;
}
.skills {
  padding-right: 4em;
}